body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 900px;
}

h1, h2{
    color: hsl( 217, 19%, 35%);
}

.left-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.right{
    width: 600px;
    padding: 2.5em;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.right-paragraph{
    margin-top: 1.5em;
    color: hsl(212, 23%, 69%);
}


.below{
    display: flex;
    margin-top: 1.5em;
}
span{
    margin-left: .9em;
}

.span-paragraph{
    margin-top: .4em;
    color: hsl(212, 23%, 69%);
}

.below-image{
    border-radius: 100%;
    width: 12%;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: .6em;
}

.share{
    position: relative;
}

.share-button{
    background: hsl(210, 46%, 95%);
    padding: .2em;
    border-radius: 20px;
    color: hsl( 217, 19%, 35%);
    transition: all 0.25s ease;
}

.share-button:hover, .share-button.active{
    color: hsl(210, 46%, 95%);
    background:  hsl( 217, 19%, 35%);;
}

.share-option{
    --scale: 1;
    --translateX: -50%;
    --translateY: 0;

    background-color: hsl( 217, 19%, 35%);
    position: absolute;
    bottom: calc(100% + 280px);
    left: 50%;
    transform: translate(var( --translateX), var(--translateY)) scale(var(--scale));
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 1.1em 2.6em;
    border-radius: 10px;
    box-shadow: 0 5px 20px -5px #0003;
    transform-origin: bottom;
    visibility: hidden;
    transition: all 0.25s ease;
}

.share-option.active{
    --scale: 1;
    visibility: visible;
}

.share-option ::after{
    content: '';
    background-color: hsl( 217, 19%, 35%);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(45deg);
}

.h-span{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: .3em;
    color: hsl(212, 23%, 69%);
}

.share-option i {
    font-size: 1.5rem;
}

footer{
    font-size: 1rem;
    text-align: center;
    margin-top: 1em;
}

footer a{
    color: hsl(228, 45%, 44%);
}


@media (max-width:478px){
    body{
       text-align: left;
    }
 
    main{
        width: 300px;
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr;
        
    }

    .left-image{
        width: 100%;
        margin-top: 1em;
    }

    .right{
        width: 100%;
    }

    .left-image{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    }

    .right{
        border-top-right-radius: 0;
    }

    .below-image{
        width: 20%;
        border-radius: 60%;

    }

    h1{
        width: 450px;
       
    }

    
}